.drop-file-clickable {
    cursor: pointer;
    transition: 150ms;
}

.drop-file-clickable:hover {
    filter: brightness(0.8);
}

.drop-file-clickable:active {
    filter: brightness(0.6);
}
.drop-file-dragging {
    background-color: rgba(255, 255, 255, 0.2);
    filter: brightness(0.6);
}
