/*
 * General ------------------------------------------------------------------------------------------------------------------------
 */
.v-stack {
    display: flex;
    flex-direction: column;
}
.h-stack {
    display: flex;
    flex-direction: row;
}

/*
 * Window ------------------------------------------------------------------------------------------------------------------------
 */
.window {
    position: absolute;
    font-family: "San Francisco", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 400;

    outline: none;
    min-width: 240px;
    min-height: 24px;
    pointer-events: all;

    border-radius: 6px;
    box-sizing: border-box;
    background-clip: content-box;
    overflow: visible;

    -webkit-backdrop-filter: blur(30px);
    -moz-backdrop-filter: blur(30px);
    -ms-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

.window.inactive {
    backdrop-filter: blur(0px);
}

.window.light {
    color: black;
    background: rgba(240, 240, 240, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15), 0 25px 60px 0 rgba(0, 0, 0, 0.45);
}

.window.light.inactive {
    color: rgba(0, 0, 0, 0.8);
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.2);
}

.window.dark {
    color: rgba(255, 255, 255, 1);
    background: rgba(40, 40, 40, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.52), inset 0 0 0 0.5px rgba(255, 255, 255, 0.28);
}

.window.dark.inactive {
    color: rgba(255, 255, 255, 0.8);
    background: rgba(40, 40, 40, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.2);
}

.window.max {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

/*
 * Window Titlebar ------------------------------------------------------------------------------------------------------------------------
 */

/* Normal titlebar */
.window-titlebar {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    min-height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    border-radius: 6px 6px 0 0;
}

.window.light .window-titlebar {
    color: #333;
    background-image: linear-gradient(-180deg, #edeced 1%, #d2d1d2 97%);
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 0 #b7b4b7, inset 0 -1px 0 0 rgba(183, 180, 183, 0.2);
}
.window.light.inactive .window-titlebar {
    color: #888;
    background-image: linear-gradient(to bottom, #f1f2f1, #f5f4f5);
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 0 #b7b4b7, inset 0 -1px 0 0 rgba(183, 180, 183, 0.2);
}
.window.dark .window-titlebar {
    color: #ddd;
    background-image: linear-gradient(180deg, #4b4b4b 1%, #3d3d3d 97%);
    box-shadow: inset 0 -1px 0px 0 rgba(0, 0, 0, 0.5), inset 0 -0.5px 0 0 #2b2b2b, inset 0 0.5px 0 0 rgba(255, 255, 255, 0.1);
}
.window.dark.inactive .window-titlebar {
    color: rgba(255, 255, 255, 0.3);
    background: #2f2f2f;
    box-shadow: inset 0 -1px 0px 0 rgba(0, 0, 0, 0.5), inset 0 -0.5px 0 0 #2b2b2b, inset 0 0.5px 0 0 rgba(255, 255, 255, 0.1);
}
.window-titlebar .window-ctrl {
    position: absolute;
    top: 5px;
    left: 8px;
}

.window-toolbar {
    width: calc(100% - 16px);
    height: 33px;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

/* Fusion titlebar */
.window-titlebar.window-titlebar-fusion {
    height: 37px;
}
.window-titlebar.window-titlebar-fusion .window-ctrl {
    position: absolute;
    top: 13px;
    left: 13px;
}
.window-titlebar.window-titlebar-fusion .window-toolbar {
    justify-content: center;
}

/*
 * Window Control ------------------------------------------------------------------------------------------------------------------------
 */
.window-ctrl {
    position: absolute;
    top: 13px;
    left: 13px;
    line-height: 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 52px;
    pointer-events: all;
}
.window button.window-ctrl-btn {
    border: 1px solid grey;
    padding: 0;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    outline: none;
    display: flex;
    align-content: center;
    justify-content: center;
}

.window button.window-ctrl-btn:active {
    filter: brightness(0.8);
}

.window button.btn-close {
    color: #990000;
    border-color: #e24640;
    background: #ff6157;
}
.window button.btn-close:hover:after {
    font-family: "San Francisco";
    content: " \00D7";
    top: -5px;
    position: relative;
    left: 0px;
    font-weight: 800;
    font-size: 14px;
    transform: translate(0.5px, 0);
}
.window button.btn-min {
    color: #995700;
    border-color: #dfa017;
    background: #ffbd2e;
}
.window button.btn-min:hover:after {
    font-family: "San Francisco";
    content: " \2212";
    top: -5px;
    position: relative;
    left: 0px;
    font-weight: 800;
    font-size: 14px;
    transform: translate(0.5px, 0);
}
.window button.btn-max {
    color: #006400;
    border-color: #1bac2c;
    background: #27cb42;
}
.window button.btn-max:hover:after {
    font-family: "San Francisco";
    content: " \002B";
    top: -5px;
    position: relative;
    left: 0px;
    font-weight: 800;
    font-size: 14px;
    transform: translate(0.5px, 0);
}
.window button.window.max .btn-max:hover:after {
    content: " \2212";
}

.window.light.inactive .window-ctrl-btn {
    background-color: #d9d9d9;
    border: 1px solid #cacaca;
}
.window.dark.inactive .window-ctrl-btn {
    border: 0;
    background: rgba(255, 255, 255, 0.2);
}

.window.light .window-ctrl-btn:disabled {
    background-color: #d9d9d9;
    border: 1px solid #cacaca;
}
.window.dark .window-ctrl-btn:disabled {
    border: 0;
    background: rgba(255, 255, 255, 0.2);
}

/*
 * Window Resizer ------------------------------------------------------------------------------------------------------------------------
 */

.dialog-resizer {
    position: absolute;
}

.dialog-resizer-ll {
    top: 8px;
    left: -2px;
    width: 4px;
    height: calc(100% - 16px);
}
.dialog-resizer-rr {
    top: 8px;
    right: -2px;
    width: 4px;
    height: calc(100% - 16px);
}
.dialog-resizer-uu {
    top: -2px;
    left: 8px;
    height: 4px;
    width: calc(100% - 16px);
}
.dialog-resizer-dd {
    bottom: -2px;
    left: 8px;
    height: 4px;
    width: calc(100% - 16px);
}
.dialog-resizer-lu {
    top: -8px;
    left: -8px;
    height: 16px;
    width: 16px;
}
.dialog-resizer-ru {
    top: -8px;
    right: -8px;
    height: 16px;
    width: 16px;
}
.dialog-resizer-ld {
    bottom: -8px;
    left: -8px;
    height: 16px;
    width: 16px;
}
.dialog-resizer-rd {
    bottom: -8px;
    right: -8px;
    height: 16px;
    width: 16px;
}

.handle {
    cursor: default;
}

/*
 * Window Content ------------------------------------------------------------------------------------------------------------------------
 */

.window-content {
    max-width: 100%;
    pointer-events: all;
    overflow: auto;
    font-weight: 300;
    display: flex;
}

.window-content.window-content-both {
    height: calc(100% - 51px);
}
.window-content.window-content-titlebar {
    height: calc(100% - 22px);
    border-radius: 0 0 5px 5px;
}
.window-content.window-content-toolbar {
    height: calc(100% - 33px);
}
.window-content.window-content-full {
    height: 100%;
}

.window-sidebar-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    cursor: default;
}

.window-sidebar {
    width: 240px;
    height: 100%;
    overflow: auto;
}

.window-content-full .window-sidebar {
    margin-top: 38px;
    height: calc(100% - 38px);
}

.window-sidebar-content {
    width: calc(100% - 240px);
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    border-left: 1px solid;
    border-radius: 0 5px 5px 0;
}

.window.light .window-sidebar-content {
    background: #f2f2f6;
    border-color: #c6c6c7;
}
.window.dark .window-sidebar-content {
    background: #1d1e1f;
    border-color: black;
}

.window-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.window-sidebar li {
    width: 100%;
    box-sizing: border-box;
    transition: 100ms;
    padding: 11px 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    font-size: 1.2rem;
    font-weight: 500;
}

.window-sidebar li.active {
    background: rgba(120, 120, 120, 0.5);
}

.window-content-inner {
    width: calc(100% - 80px);
    margin: 0 40px;
    padding: 40px 0;
}

/*
 * Window widget ------------------------------------------------------------------------------------------------------------------------
 */
.empty-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    opacity: 0.5;
}

/*
 * Input ------------------------------------------------------------------------------------------------------------------------
 */
.window input {
    font-size: 1rem;
    margin: 0;
    border: 0;
    border-radius: 6px;
    transition: 150ms;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.window input {
    padding: 8px 12px;
    width: 100%;
}

.window input:focus {
    box-shadow: 0 0 1px 1px rgba(0, 122, 255, 0.5);
}

.dark input {
    background: rgba(0, 0, 0, 0.3);
    color: white;
}

.dark ::placeholder {
    opacity: 0.5;
}

.light input {
    background: rgba(0, 0, 0, 0.15);
    color: black;
}

.light ::placeholder {
    opacity: 0.5;
}

/*
 * Button ------------------------------------------------------------------------------------------------------------------------
 */

.window button.aqui-btn {
    font-weight: 500;
    color: rgb(0, 122, 255);
    padding: 8px 20px;
    font-size: 1rem;
    border: 0;
    margin: 16px 0;
    border-radius: 6px;
    transition: 150ms;
    box-sizing: border-box;
}
.window button.aqui-btn.circle {
    border-radius: 50%;
}
