/*
 * Shortcuts ------------------------------------------------------------------------------------------------------------------------
 */
.v-stack {
    display: flex;
    flex-direction: column;
}
.h-stack {
    display: flex;
    flex-direction: row;
}

.h-start {
    align-items: flex-start;
}
.h-center {
    align-items: center;
}
.h-end {
    align-items: flex-end;
}
.v-start {
    justify-content: flex-start;
}
.v-center {
    justify-content: center;
}
.v-end {
    justify-content: flex-end;
}
.v-scale {
    justify-content: space-between;
}

.vss,
.v-start-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.vsc,
.v-start-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.vse,
.v-start-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.vcs,
.v-center-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.vcc,
.v-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vce,
.v-center-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.ves,
.v-end-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.vec,
.v-end-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.vee,
.v-end-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.vbs,
.v-sb-start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.vbc,
.v-sb-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.vbe,
.v-sb-end {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.hss,
.h-start-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.hsc,
.h-start-center {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.hse,
.h-start-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}
.hcs,
.h-center-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.hcc,
.h-center-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hce,
.h-center-end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.hes,
.h-end-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}
.hec,
.h-end-center {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.hee,
.h-end-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.hbs,
.h-sb-start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.hbc,
.h-sb-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hbe,
.h-sb-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.v-full {
    height: 100%;
}
.h-full {
    width: 100%;
}
.abs {
    position: absolute;
}

.b-box {
    box-sizing: border-box;
}
.c-box {
    box-sizing: content-box;
}

/*
 * Window ------------------------------------------------------------------------------------------------------------------------
 */
.window {
    position: absolute;
    font-family: "San Francisco", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 400;

    outline: none;
    min-width: 240px;
    min-height: 24px;
    pointer-events: all;

    border-radius: 6px;
    box-sizing: border-box;
    background-clip: content-box;
    overflow: visible;

    -webkit-backdrop-filter: blur(30px);
    -moz-backdrop-filter: blur(30px);
    -ms-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

.window.inactive {
    backdrop-filter: blur(0px);
}

.window.light {
    color: black;
    background: rgba(240, 240, 240, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15), 0 25px 60px 0 rgba(0, 0, 0, 0.45);
}

.window.light.inactive {
    color: rgba(0, 0, 0, 0.8);
    background: rgb(200, 200, 200);
    border: 1px solid rgba(150, 150, 150, 1);
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.2);
}

.window.dark {
    color: rgba(255, 255, 255, 1);
    background: rgba(40, 40, 40, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.52), inset 0 0 0 0.5px rgba(255, 255, 255, 0.28);
}

.window.dark.inactive {
    color: rgba(255, 255, 255, 0.8);
    background: rgba(40, 40, 40, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.2);
}

.window.max {
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.window.max.inactive {
    border: none;
}

/*
 * Window Titlebar ------------------------------------------------------------------------------------------------------------------------
 */

/* Normal titlebar */
.window-titlebar {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    min-height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    border-radius: 6px 6px 0 0;
}

.window.light .window-titlebar {
    color: #333;
    background-image: linear-gradient(-180deg, #edeced 1%, #d2d1d2 97%);
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 0 #b7b4b7, inset 0 -1px 0 0 rgba(183, 180, 183, 0.2);
}
.window.light.inactive .window-titlebar {
    color: #888;
    background-image: linear-gradient(to bottom, #f1f2f1, #f5f4f5);
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 0 #b7b4b7, inset 0 -1px 0 0 rgba(183, 180, 183, 0.2);
}
.window.dark .window-titlebar {
    color: #ddd;
    background-image: linear-gradient(180deg, #4b4b4b 1%, #3d3d3d 97%);
    box-shadow: inset 0 -1px 0px 0 rgba(0, 0, 0, 0.5), inset 0 -0.5px 0 0 #2b2b2b, inset 0 0.5px 0 0 rgba(255, 255, 255, 0.1);
}
.window.dark.inactive .window-titlebar {
    color: rgba(255, 255, 255, 0.3);
    background: #2f2f2f;
    box-shadow: inset 0 -1px 0px 0 rgba(0, 0, 0, 0.5), inset 0 -0.5px 0 0 #2b2b2b, inset 0 0.5px 0 0 rgba(255, 255, 255, 0.1);
}
.window-titlebar .window-ctrl {
    position: absolute;
    top: 5px;
    left: 8px;
}

.window-toolbar {
    width: calc(100% - 16px);
    height: 33px;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

/* Fusion titlebar */
.window-titlebar.window-titlebar-fusion {
    height: 37px;
}
.window-titlebar.window-titlebar-fusion .window-ctrl {
    position: absolute;
    top: 13px;
    left: 13px;
}
.window-titlebar.window-titlebar-fusion .window-toolbar {
    justify-content: center;
}

/*
 * Window Control ------------------------------------------------------------------------------------------------------------------------
 */
.window-ctrl {
    position: absolute;
    top: 13px;
    left: 13px;
    line-height: 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 52px;
    pointer-events: all;
}
.window button.window-ctrl-btn {
    border: 1px solid grey;
    padding: 0;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    outline: none;
    display: flex;
    align-content: center;
    justify-content: center;
}

.window button.window-ctrl-btn:active {
    filter: brightness(0.8);
}

.window button.btn-close {
    color: #990000;
    border-color: #e24640;
    background: #ff6157;
}
.window button.btn-close:hover:after {
    font-family: "San Francisco";
    content: " \00D7";
    top: -5px;
    position: relative;
    left: 0px;
    font-weight: 800;
    font-size: 14px;
    transform: translate(0.5px, 0);
}
.window button.btn-min {
    color: #995700;
    border-color: #dfa017;
    background: #ffbd2e;
}
.window button.btn-min:hover:after {
    font-family: "San Francisco";
    content: " \2212";
    top: -5px;
    position: relative;
    left: 0px;
    font-weight: 800;
    font-size: 14px;
    transform: translate(0.5px, 0);
}
.window button.btn-max {
    color: #006400;
    border-color: #1bac2c;
    background: #27cb42;
}
.window button.btn-max:hover:after {
    font-family: "San Francisco";
    content: " \002B";
    top: -5px;
    position: relative;
    left: 0px;
    font-weight: 800;
    font-size: 14px;
    transform: translate(0.5px, 0);
}
.window button.window.max .btn-max:hover:after {
    content: " \2212";
}

.window.light.inactive .window-ctrl-btn {
    background-color: #d9d9d9;
    border: 1px solid #cacaca;
}
.window.dark.inactive .window-ctrl-btn {
    border: 0;
    background: rgba(255, 255, 255, 0.2);
}

.window.light .window-ctrl-btn:disabled {
    background-color: #d9d9d9;
    border: 1px solid #cacaca;
}
.window.dark .window-ctrl-btn:disabled {
    border: 0;
    background: rgba(255, 255, 255, 0.2);
}

/*
 * Window Resizer ------------------------------------------------------------------------------------------------------------------------
 */

.dialog-resizer {
    position: absolute;
}

.dialog-resizer-ll {
    top: 8px;
    left: -2px;
    width: 4px;
    height: calc(100% - 16px);
}
.dialog-resizer-rr {
    top: 8px;
    right: -2px;
    width: 4px;
    height: calc(100% - 16px);
}
.dialog-resizer-uu {
    top: -2px;
    left: 8px;
    height: 4px;
    width: calc(100% - 16px);
}
.dialog-resizer-dd {
    bottom: -2px;
    left: 8px;
    height: 4px;
    width: calc(100% - 16px);
}
.dialog-resizer-lu {
    top: -8px;
    left: -8px;
    height: 16px;
    width: 16px;
}
.dialog-resizer-ru {
    top: -8px;
    right: -8px;
    height: 16px;
    width: 16px;
}
.dialog-resizer-ld {
    bottom: -8px;
    left: -8px;
    height: 16px;
    width: 16px;
}
.dialog-resizer-rd {
    bottom: -8px;
    right: -8px;
    height: 16px;
    width: 16px;
}

.handle {
    cursor: default;
}

/*
 * Window Content ------------------------------------------------------------------------------------------------------------------------
 */

.window-content {
    max-width: 100%;
    pointer-events: all;
    overflow: auto;
    font-weight: 300;
    display: flex;
}

.window-content.window-content-both {
    height: calc(100% - 51px);
}
.window-content.window-content-titlebar {
    height: calc(100% - 22px);
    border-radius: 0 0 5px 5px;
}
.window-content.window-content-toolbar {
    height: calc(100% - 33px);
}
.window-content.window-content-full {
    height: 100%;
}

.window-sidebar-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    cursor: default;
}

.window-sidebar {
    width: 240px;
    height: 100%;
    overflow: auto;
}

.window-content-full .window-sidebar {
    margin-top: 38px;
    height: calc(100% - 38px);
}

.window-sidebar-content {
    width: calc(100% - 240px);
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    border-left: 1px solid;
    border-radius: 0 5px 5px 0;
}

.window.light .window-sidebar-content {
    background: #f2f2f6;
    border-color: #c6c6c7;
}
.window.dark .window-sidebar-content {
    background: #2d2e2f;
    border-color: black;
}

.window-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.window-sidebar li {
    width: 100%;
    box-sizing: border-box;
    transition: 100ms;
    padding: 11px 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    font-size: 1.2rem;
    font-weight: 400;
}

.window-sidebar li.active {
    background: rgba(120, 120, 120, 0.5);
}

.window-content-inner {
    box-sizing: border-box;
    width: calc(100% - 64px);
    margin: 0 32px;
    padding: 32px 0;
}

/*
 * Window widget ------------------------------------------------------------------------------------------------------------------------
 */
.empty-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    opacity: 0.5;
}

.window hr {
    height: 1px;
    width: 100%;
    margin: 16px 0;
    background: rgba(0, 0, 0, 0.15);
    border: none;
}

.roof-toolbar {
    box-sizing: border-box;
    height: 38px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    pointer-events: all;
    z-index: 2000;
}
.backdrop.transparent {
    background: none;
}

/*
 * ToolBar widgets ------------------------------------------------------------------------------------------------------------------------
 */

/*
 * Input ------------------------------------------------------------------------------------------------------------------------
 */
.window .input,
.window input {
    font-size: 1rem;
    margin: 0;
    border: 0;
    border-radius: 6px;
    transition: 150ms;
    box-sizing: border-box;
    font-weight: 300;
    padding: 8px 12px;
    width: 100%;
}

.window .input:focus,
.window input:focus,
.window .aqui-checkbox:focus {
    box-shadow: 0 0 1px 1px rgba(0, 122, 255, 0.5);
}

.window .input.disabled,
.window input:disabled,
.window .aqui-checkbox.disabled {
    filter: brightness(0.5);
}

.dark .input,
.dark input,
.dark .aqui-checkbox {
    background: rgba(0, 0, 0, 0.3);
    color: white;
}

.dark .input.disabled,
.dark input:disabled,
.dark .aqui-checkbox.disabled {
    background: rgba(0, 0, 0, 0.15);
    color: #eee;
}

.dark ::placeholder {
    opacity: 0.5;
}

.light .input,
.light input,
.light .aqui-checkbox {
    background: rgba(0, 0, 0, 0.15);
    color: black;
}

.light .input:disabled,
.light input:disabled,
.light .aqui-checkbox.disabled {
    color: #999;
    background: rgba(0, 0, 0, 0.05);
}

.window select.input,
.window select.input:disabled {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    background-repeat: no-repeat, repeat;
}
.dark select.input {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBzdHlsZT0iZmlsbDojZmZmZmZmIiBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+"),
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    color: white;
}
.dark select.input:disabled {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBzdHlsZT0iZmlsbDojZmZmZmZmIiBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+"),
        linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
    color: #eee;
}
.light select.input {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+"),
        linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
}
.light select.input:disabled {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+"),
        linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
}

.light ::placeholder {
    opacity: 1;
}

.aqui-input-title {
    font-weight: 400;
    padding: 0;
    margin: 0 0 8px 12px;
    font-size: 1rem;
}
.dark .aqui-input-title {
    color: #aaa;
}

.aqui-input-caption {
    font-size: 0.8rem;
    margin-top: -12px;
    padding-left: 12px;
    margin-bottom: 16px;
}

.aqui-input-item {
    box-sizing: border-box;
    padding: 0 8px;
    margin-bottom: 16px;
}
.aqui-input-group {
    box-sizing: border-box;
}

.aqui-checkbox {
    background: rgba(0, 0, 0, 0.15);
    height: 24px;
    width: 24px;
    border: 1px solid none;
    border-radius: 6px;
    transition: 150ms;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.aqui-checkbox.disabled {
    cursor: not-allowed;
}

.aqui-checkbox.checked {
    background: rgb(0, 122, 255);
}

.aqui-checkbox.checked::after {
    color: white;
    content: "✓";
    font-size: 1.2rem;
    font-weight: 500;
}

.aqui-checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 18px;
}

.aqui-checkbox-label {
    margin-bottom: 0;
}

.input.aqui-img-container {
    padding: 0;
    overflow: hidden;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 34px;
}

.window textarea {
    line-height: 1.5;
}

/*
 * Button ------------------------------------------------------------------------------------------------------------------------
 */

.aqui-btn {
    font-weight: 500;
    color: rgb(0, 122, 255);
    padding: 8px 20px;
    font-size: 1rem;
    border: 0;
    margin: 16px 8px;
    border-radius: 6px;
    transition: 200ms;
    background: none;
}
.aqui-btn:focus,
.aqui-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 1px 1px rgba(0, 122, 255, 0.5);
}
.aqui-btn:active {
    filter: brightness(0.8);
}
.aqui-btn.circle {
    border-radius: 50%;
}

.window.inactive .aqui-btn,
.aqui-btn:disabled {
    color: #aaa;
    box-shadow: none;
    cursor: not-allowed;
}

.dark.aqui-btn:disabled {
    color: #888;
}

/*
 * PanelItem ------------------------------------------------------------------------------------------------------------------------
 */
.panel-title {
    margin-bottom: 8px;
    padding-left: 12px;
    font-weight: 500;
}
.light .panel-title {
    color: #5d5d5d;
}
.dark .panel-title {
    color: #999;
}
.panel {
    width: 100%;
    margin-bottom: 16px;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: visible;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 1px;
}
.light .panel {
    background: #f0f0f0;
}
.dark .panel {
    background: #444;
}
.panel-item {
    min-height: 40px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    grid-column: span 12;
    user-select: none;
    -webkit-user-select: none;
}
.panel-item:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.panel-item:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.light .panel-item {
    background: #fff;
}
.dark .panel-item {
    background: #333435;
}
.panel-item-title {
    position: absolute;

    width: calc(100% - 24px);
    padding: 12px;
    background: none;
    border: none;
    text-align: start;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.panel-item-value {
    position: absolute;
    user-select: text;
    -webkit-user-select: text;
    width: calc(100% - 24px);
    padding: 12px;
    background: none;
    border: none;
    text-align: end;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.panel-item.button {
    transition: 300ms all;
    pointer-events: all;
    cursor: pointer;
}
.panel-item.button:hover {
    filter: brightness(0.9);
}
.panel-item i {
    font-size: 1rem;
}

/*
 * Table ------------------------------------------------------------------------------------------------------------------------
 */
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
thead tr {
    background: #f0f0f0;
    border-bottom: 1px solid #c9c9c9;
}
tbody tr:nth-child(odd) {
    background: #f2f3f4;
}
tbody tr:nth-child(even) {
    background: #ffffff;
}
th {
    padding: 0;
    padding-left: 12px;
    height: 20px;
    font-weight: 400;
    text-align: left;
    font-size: 0.7rem;
}
th:active {
    background: #eaeaea;
}
th > div {
    height: 100%;
    width: 100%;
    font-weight: 400;
    text-align: left;

    font-size: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    background-color: transparent;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.6em auto, 100%;
    background-repeat: no-repeat, repeat;
}
.th-resizer {
    height: 100%;
    width: 1px;
    margin-right: -1px;
    cursor: col-resize;
    padding: 0 1px;
    display: flex;
    align-items: center;
}
.th-resizer::after {
    content: "";
    height: 80%;
    width: 1px;
    background: #d8d8d8;
}
td {
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
    height: 18px;
    color: #797979;
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
}
td:first-child {
    color: black;
}
tbody tr.active,
tbody tr:active {
    background: #0058dd;
}
tbody tr.active td,
tbody tr:active td {
    color: white;
}
.ghost {
    opacity: 0.2;
}

th.asc > div {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCB0cmFuc2Zvcm09InJvdGF0ZSgxODAgMTIgMTIpIiBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+");
}
th.dsc > div {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+");
}
