/* Aquarius Launchpad Style */
#launchpad {
    font-family: "San Francisco";
    font-weight: 300;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.36);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    user-select: none;
    overflow: hidden;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
}

#launchpad-carousel {
    width: 100%;
    height: 100%;
    color: white;
    margin: 0;
    overflow: hidden;
}

.launchpad-page {
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 100;
}

.launchpad-grid {
    display: grid;
    grid-auto-rows: 16vmin;
    position: absolute;
    top: 8vh;
}

#launchpad-navigator {
    /* visibility: hidden; */
    position: fixed;
    overflow: hidden;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    bottom: 140px;
    height: 16px;
}

.launchpad-navigator-button {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin: 6px;
    transition: 400ms;
}

.launchpad-navigator-button.active {
    background: rgba(255, 255, 255, 1);
}

.laucnhpad-item > div {
    pointer-events: none;
}

.laucnhpad-item > img {
    pointer-events: none;
}

@-webkit-keyframes launchpadFadeIn {
    from {
        opacity: 0;
        transform: scale(1.05);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes launchpadFadeIn {
    from {
        opacity: 0;
        transform: scale(1.05);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes launchpadFadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
        opacity: 0.01;
    }
}

@keyframes launchpadFadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
        opacity: 0.01;
    }
}

@keyframes launchpadOpen {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        transform: scale(2);
        opacity: 0.5;
    }
}

.launchpad-open {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: launchpadOpen;
    animation-name: launchpadOpen;
    animation-duration: 150ms;
}

.launchpad-enter {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: launchpadFadeIn;
    animation-name: launchpadFadeIn;
    animation-duration: 150ms;
}

.launchpad-close {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: launchpadFadeOut;
    animation-name: launchpadFadeOut;
    animation-duration: 150ms;
}

.launchpad-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 0.6vh;
    margin: 2vh;
    transition: 200ms;
}

.launchpad-item:hover {
    background: rgba(0, 0, 0, 0.1);
}

.launchpad-item-icon {
    height: 9vmin;
    width: 9vmin;
    filter: drop-shadow(0.1vmin 0.1vmin 0.5vmin rgba(0, 0, 0, 0.2));
    border-radius: 1vmin;
    transition: 100ms;
    pointer-events: none;
}

.launchpad-item-title {
    font-size: 1vmin;
    text-shadow: 0.1vmin 0.1vmin 0.4vmin black;
    font-weight: 400;
    margin-top: 0.5vmin;
    min-height: 1.5vmin;
}

.launchpad-item-subtitle {
    font-size: 1vmin;
    text-shadow: 0.1vmin 0.1vmin 0.4vmin black;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    margin-top: 0.5vmin;
    min-height: 1.5vmin;
}

.launchpad-item-badge {
    position: absolute;
    transform: translate(4vmin, -4vmin);
    background: rgba(255, 0, 0, 0.8);
    border-radius: 1.5vmin;
    filter: drop-shadow(0 0 0.2vmin rgba(0, 0, 0, 0.5));
    min-width: 3vmin;
    min-height: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vmin;
    font-weight: 400;
}
